/*********************************************************************/
/* Screens > 768px */
/*********************************************************************/
@media only screen and (min-width: 768px) {

	/***********************************************************/
	/* General */
	/***********************************************************/
	.team,
	.clients,
	.contact,
	.chimps .banner {padding: 60px 20px;}
	
	.chimps .banner {padding-bottom: 90px;}
	
	.project {padding: 45px 20px 60px 20px;}

	/***********************************************************/
	/* .mainheader */
	/***********************************************************/
	.mainHeader h1 {float: left;}
	.viewNav {display: none;}

	/***********************************************************/
	/* .mainnav */
	/***********************************************************/
	.mainNav,
	.mainNav.close {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		width: auto;
		text-align: center;
		background-color: transparent;
		box-shadow: 0 0 0 transparent;
	}

	.mainNav li {
		display: inline-block;
		padding: 19px 10px;
		font-size: 14pt;
	}

	/***********************************************************/
	/* .projects */
	/***********************************************************/
	.project .illustrate img {height: auto; width: 100%;}

//End @media only screen and (min-width: 768px)
}
