/*********************************************************************/
/* Screens > 1100px */
/*********************************************************************/
@media only screen and (min-width: 1100px) {

	/***********************************************************/
	/* .mainNav */
	/***********************************************************/
	.mainNav li {
		padding: 16px 15px;
		font-size: 15pt;
	}

	/***********************************************************/
	/* .chimps */
	/***********************************************************/
	.chimps .banner {
		padding-top: 90px;
		padding-bottom: 120px
	}
	
	.chimps .banner p {
		margin-bottom: 15px;
		font-size: 17pt;
	}

	/***********************************************************/
	/* .team */
	/***********************************************************/
	.people .description p {font-size: 15pt;}

	/***********************************************************/
	/* .project */
	/***********************************************************/
	.project {padding: 60px 20px;}

	.project .description p,
	.project .description .read-more,
	.project .description .read-less {font-size: 15pt;}

	.project .illustrate {
		transition: 0.3s ease-in-out all;
	}
	/***********************************************************/
	/* even itens */
	/***********************************************************/
	.project:nth-child(even) .wrapper:hover .illustrate {right: -500px;}

	/********************************************/
	/* odd itens */
	/********************************************/
	.project:nth-child(odd) .wrapper:hover .illustrate {left: -500px;}

//End @media only screen and (min-width: 768px)
}