/*********************************************************************/
/* Screens > 1100px */
/*********************************************************************/
@media only screen and (min-width: 1100px) {

	/***********************************************************/
	/* .mainNav */
	/***********************************************************/
	.mainNav li {
		padding: 16px 15px;
		font-size: 15pt;
	}

	/***********************************************************/
	/* .chimps */
	/***********************************************************/
	.chimps .banner {
		padding-top: 90px;
		padding-bottom: 120px
	}
	
	.chimps .banner p {
		margin-bottom: 15px;
		font-size: 17pt;
	}

	/***********************************************************/
	/* .team */
	/***********************************************************/
	.people .description p {font-size: 15pt;}

	/***********************************************************/
	/* .project */
	/***********************************************************/
	.project {padding: 60px 20px;}

	.project .description p,
	.project .description .read-more,
	.project .description .read-less {font-size: 15pt;}

//End @media only screen and (min-width: 768px)
}