/*********************************************************************/
/* Screens > 520px */
/*********************************************************************/
@media only screen and (min-width: 520px) {

	/***********************************************************/
	/* konami */
	/***********************************************************/
	.surprise {
		width: 500px;
		height: 500px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -250px;
		margin-left: -250px;
	}

//End @media only screen and (min-width: 768px)
}
