/*********************************************************************/
/* structure.css */
/*********************************************************************/

/***********************************************************/
/* Usefull */
/***********************************************************/
.hide {display: none!important;}

.vhide {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
}

/***********************************************************/
/* General */
/***********************************************************/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	color: rgba(65, 58, 54, 1);
	background-color: rgba(255,255,255, 1);
}

a, a:visited {
	text-decoration: none;
	color: rgba(25, 196, 186, 1);
}

strong {font-weight: bold;}

.intro {
	font-family: 'Roboto', sans-serif;
	font-size: 40pt;
	font-weight: 100;
	font-style: italic;
	line-height: 1.2em;
	margin-bottom: 55px;
}

.intro > strong {font-weight: 300;}

/***********************************************************/
/* .mainheader */
/***********************************************************/
.mainHeader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	padding: 30px 40px;
	background-color: rgba(255,255,255, 1);
	box-shadow: 0 1px 1px rgba(0,0,0, 0.2);
}

.mainHeader h1 img {
	height: 35px;
}

.viewNav {
	position: absolute;
	top: 30px;
	right: 40px;
}

.viewNav > img {height: 30px;}

/***********************************************************/
/* .content */
/***********************************************************/
.content {
	position: relative;
	margin-top: 97px;
}

/***********************************************************/
/* .chimps */
/***********************************************************/
.chimps .banner {
	background-color: rgba(27, 197, 187, 1);
	background-image: url("../img/stars.png");
	padding: 40px 40px 70px 40px;
	color: rgba(255,255,255, 1);
}

.chimps .banner h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 108pt;
	font-weight: 100;
	font-style: italic;
	margin-bottom: 40px;
	text-transform: lowercase;
}

.chimps .banner p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 32pt;
	font-weight: 300;
	line-height: 1.2em;
	margin-bottom: 20px;
}

.chimps .banner p:last-child {margin-bottom: 0;}

/***********************************************************/
/* .team */
/***********************************************************/
.team {
	padding: 40px 40px 70px 40px;
}

.team .intro {
	color: rgba(80, 60, 40, 1);
}

.people {margin-bottom: 95px}
.people:last-child {margin-bottom: 0}

.people figure {
	width: 390px;
	height: 390px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}

.people figure img {
	height: 100%;
}

.people h3 {
	font-size: 80pt;
	font-weight: 100;
	font-style: italic;
	line-height: 1.2em;
	text-align: center;
	text-transform: lowercase;
}

.people h4 {
	font-size: 40pt;
	font-weight: 100;
	font-style: italic;
	line-height: 1.2em;
	text-align: center;
	margin-bottom: 25px;
	text-transform: lowercase;
}

.people .description p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 28pt;
	font-weight: 300;
	line-height: 1.2em;
}

/***********************************************************/
/*  .projects */
/***********************************************************/
.projects .intro {
	padding: 40px 40px 15px 40px;
	margin-bottom: 0;
	color: rgba(0,0,0, 0.8);
	background-color: rgba(209,238,135, 1);
}

/********************************************/
/* .project */
/********************************************/
.project {
	padding: 50px 40px 30px 40px;
}

.project header {margin-bottom: 25px;}

.project header h1,
.project header strong {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-style: italic;
	text-transform: lowercase;
}

.project header h1 {font-size: 80pt;}
.project header strong {font-size: 40pt;}

.project .description {margin-bottom: 30px;}

.project .description p,
.project .description .read-less {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 28pt;
	font-weight: 300;
	line-height: 1.2em;
	margin-bottom: 30px;
}

.illustrate {position: relative;}

.illustrate > figure {
	width: calc(100% + 40px);
	overflow: hidden;
}

.project .illustrate img {display: block;}

/********************************************/
/* odd itens */
/********************************************/
.project:nth-child(odd) header,
.project:nth-child(odd) .description {text-align: right;}

.project:nth-child(odd) .illustrate {left: -40px;}
.project:nth-child(odd) .illustrate img {float: right;}

/********************************************/
/* .project.aws */
/********************************************/
 .project.aws {background-color: rgba(209,238,135, 1);}

.project.aws header h1,
.project.aws header strong,
.project.aws .description p {color: rgba(0,0,0, 0.8);}

/********************************************/
/* .project.astrea */
/********************************************/
 .project.astrea {background-color: rgba(25, 50, 88, 0.8);}

.project.astrea header h1,
.project.astrea header strong,
.project.astrea .description p {color: rgba(255,255,255, 1);}

/********************************************/
/* .project.spreadnet */
/********************************************/
 .project.spreadnet {background-color: rgba(64, 64, 64, 1);}

.project.spreadnet header h1,
.project.spreadnet header strong,
.project.spreadnet .description p {color: rgba(255,255,255, 0.8);}

/********************************************/
/* .project.wayTwo */
/********************************************/
 .project.wayTwo {background-color: rgba(22, 116, 185, 1); }

.project.wayTwo header h1,
.project.wayTwo header strong,
.project.wayTwo .description p {color: rgba(255,255,255, 0.8);}

/***********************************************************/
/* clients */
/***********************************************************/
.clients {
	padding: 40px 40px 70px 40px;
}

.clients ul li {
	list-style: none;
	width: 50%;
	float: left;
	border: 2px solid transparent;
	overflow: hidden;
}

.clients ul li:nth-child(odd) {
	border-right-color: rgba(0,0,0, 0.1);
	border-bottom-color: rgba(0,0,0, 0.1);
}

.clients ul li:nth-child(even) {border-bottom-color: rgba(0,0,0, 0.1);}
.clients ul li:last-child,
.clients ul li:nth-last-child(2) {border-bottom-color: transparent;}

.clients li img {
	display: block;
	width: 100%;
}

.clients li img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

/***********************************************************/
/* .mainFooter */
/***********************************************************/
.mainFooter {
	padding-top: 25px;
	margin-bottom: 30px;
}

.mainFooter img {
	display: block;
	width: 80px;
	margin: 0 auto;
}
