/*********************************************************************/
/* structure.css */
/*********************************************************************/

/***********************************************************/
/* Usefull */
/***********************************************************/
.hide {display: none!important;}

.vhide {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
}

/***********************************************************/
/* General */
/***********************************************************/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	color: rgba(65, 58, 54, 1);
	background-color: rgba(255,255,255, 1);
}

a, a:visited {
	text-decoration: none;
	color: rgba(25, 196, 186, 1);
}

a:hover {color: rgba(6, 184, 174, 1)}

strong {font-weight: bold;}

textarea,
input {outline: none;}

::-webkit-input-placeholder {color: rgba(80, 60, 40, 0.5);}
::-moz-placeholder {color: rgba(80, 60, 40, 0.5);}
:-ms-input-placeholder {color: rgba(80, 60, 40, 0.5);}

/***********************************************************/
/* .mainheader */
/***********************************************************/
.mainHeader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	padding: 15px 20px;
	background-color: rgba(255,255,255, 1);
	box-shadow: 0 1px 1px rgba(0,0,0, 0.2);
}

.mainHeader h1 img {
	height: 25px;
}

.viewNav {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.viewNav > img {height: 16px;}

/***********************************************************/
/* .mainnav */
/***********************************************************/
.mainNav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 152px;
	background-color: rgba(243,252,251, 0.95);
	box-shadow: 0 0 1px rgba(0,0,0, 0.3);
	z-index: 10;
	transition: 0.3s ease-in-out left;
}

.mainNav li {
	font-size: 24pt;
	padding: 10px 20px 13px 20px;
	font-weight: 100;
	font-style: italic;
	text-transform: lowercase;
	text-align: right;
	color: rgba(25, 196, 186, 1);
	cursor: pointer;
}

.mainNav li:hover,
.mainNav li.active,
.mainNav li a:hover,
.mainNav li.active a {
	color: rgba(80, 60, 40, 1);
	text-decoration: none;
}

.mainNav.close {
	left: -152px;
}
/***********************************************************/
/* .content */
/***********************************************************/
.content,
.content > section {position: relative;}

/***********************************************************/
/* Common to all sections */
/***********************************************************/
.team,
.projects,
.clients,
.contact {padding: 67px 20px 0px 20px;}

.intro {
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	font-weight: 100;
	font-style: italic;
	line-height: 1.4em;
	margin-bottom: 25px;
}

.intro > strong {font-weight: 300;}

/***********************************************************/
/* .chimps */
/***********************************************************/
.chimps {padding-top: 57px;}

.chimps .banner {
	background-color: rgba(27, 197, 187, 1);
	background-image: url("../img/stars.png");
	padding: 45px 20px;
	color: rgba(255,255,255, 1);
}

.chimps .banner h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 54pt;
	font-weight: 100;
	font-style: italic;
	margin-bottom: 20px;
	text-transform: lowercase;
}

.chimps .banner p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.3em;
	margin-bottom: 10px;
}

.chimps .banner p strong {font-weight: 500;}
.chimps .banner p:last-child {margin-bottom: 0;}

/***********************************************************/
/* .team */
/***********************************************************/
.team .intro {
	color: rgba(80, 60, 40, 1);
}

.people {margin-bottom: 30px}
.people:last-child {margin-bottom: 0}

.people figure {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 15px auto;
}

.people figure img {
	height: 100%;
}

.people h3 {
	font-size: 40pt;
	font-weight: 100;
	font-style: italic;
	text-align: center;
	text-transform: lowercase;
	margin-bottom: 5px;
}

.people h4 {
	font-size: 20pt;
	font-weight: 100;
	font-style: italic;
	text-align: center;
	text-transform: lowercase;
	margin-bottom: 15px;
}

.people .description p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14pt;
	font-weight: 300;
	line-height: 1.3em;
}

/***********************************************************/
/* .projects */
/***********************************************************/
.projects {
	padding-right: 0;
	padding-left: 0;
}

.projects .intro {
	padding: 30px 20px 0 20px;
	margin-bottom: 0;
	color: rgba(0,0,0, 0.8);
	background-color: rgba(209,238,135, 1);
}

/********************************************/
/* .project */
/********************************************/
.project {
	padding: 30px 20px;
}

.project header {margin-bottom: 15px;}

.project header h1,
.project header strong {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-style: italic;
	text-transform: lowercase;
}

.project header h1 {
	font-size: 50pt;
	margin-bottom: 10px;
}

.project header strong {
	display: block;
	font-size: 17pt;
}

.project .description {margin-bottom: 30px;}

.project .description p,
.project .description .read-less {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14pt;
	font-weight: 300;
	line-height: 1.3em;
	margin-bottom: 15px;
}

.project .description .read-more,
.project .description .read-less {
	white-space: nowrap;
	margin-bottom: 0;
}

.illustrate {position: relative;}

.illustrate > figure {
	width: calc(100% + 20px);
	overflow: hidden;
	border-radius: 2px;
}

.project .illustrate img {display: block;}

/********************************************/
/* odd itens */
/********************************************/
.project:nth-child(odd) header,
.project:nth-child(odd) .description {text-align: right;}

.project:nth-child(odd) .illustrate {left: -20px;}
.project:nth-child(odd) .illustrate img {float: right;}

/********************************************/
/* .project.aws */
/********************************************/
 .project.aws {background-color: rgba(209,238,135, 1);}

.project.aws header h1,
.project.aws header strong,
.project.aws .description p {color: rgba(0,0,0, 0.8);}

/********************************************/
/* .project.astrea */
/********************************************/
 .project.astrea {background-color: rgba(25, 50, 88, 0.8);}

.project.astrea header h1,
.project.astrea header strong,
.project.astrea .description p {color: rgba(255,255,255, 1);}

/********************************************/
/* .project.spreadnet */
/********************************************/
 .project.spreadnet {background-color: rgba(64, 64, 64, 1);}

.project.spreadnet header h1,
.project.spreadnet header strong,
.project.spreadnet .description p {color: rgba(255,255,255, 0.8);}

/********************************************/
/* .project.wayTwo */
/********************************************/
 .project.wayTwo {background-color: rgba(22, 116, 185, 1); }

.project.wayTwo header h1,
.project.wayTwo header strong,
.project.wayTwo .description p {color: rgba(255,255,255, 0.8);}

/***********************************************************/
/* clients */
/***********************************************************/
.clients ul li {
	list-style: none;
	width: 50%;
	float: left;
	border: 1px solid transparent;
	overflow: hidden;
}

.clients ul li:nth-child(odd) {
	border-right-color: rgba(0,0,0, 0.1);
	border-bottom-color: rgba(0,0,0, 0.1);
}

.clients ul li:nth-child(even) {border-bottom-color: rgba(0,0,0, 0.1);}
.clients ul li:last-child,
.clients ul li:nth-last-child(2) {border-bottom-color: transparent;}

.clients li img {
	display: block;
	width: 100%;
}

/***********************************************************/
/* .contact */
/***********************************************************/
.contact {padding-bottom: 60px;}
.contactForm {margin-bottom: 30px;}

.contactForm .field {
	position: relative;
	margin-bottom: 35px;
}

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm textarea {
	display: block;
	width: 100%;
	padding: 5px 10px;
	border: 1px solid transparent;
	border-bottom-color: rgba(25, 196, 186, 1);
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	line-height: 1.2em;
	color: rgba(80, 60, 40, 1)
}

.contactForm input[type="text"]:hover,
.contactForm input[type="email"]:hover,
.contactForm textarea:hover { border-bottom-color: rgba(6, 184, 174, 1)}

.contactForm input[type="text"]:focus,
.contactForm input[type="email"]:focus,
.contactForm textarea:focus {
	border-bottom-width: 2px;
	color: rgba(80, 60, 40, 1);
	margin-bottom: -1px;
}

.contactForm textarea:focus {margin-bottom: 0;}

.contactForm textarea {
	min-height: 100px;
	resize: vertical;
	overflow-y: hidden;
}

.contactForm input[type="submit"],
.contactForm button {
	display: block;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 10px;
	background-color: rgba(25, 196, 186, 1);
	color: rgba(255,255,255, 1);
	font-size: 14pt;
	font-weight: 300;
	text-align: center;
	text-transform: lowercase;
	cursor: pointer;
}


.contactForm input[type="submit"][disabled="disabled"],
.contactForm button[disabled="disabled"],
.contactForm input[type="submit"][disabled="disabled"]:hover,
.contactForm button[disabled="disabled"]:hover {
	background-color: rgba(167, 147, 157, 1);
	cursor: default;
}

.contactForm input[type="submit"]:hover,
.contactForm button:hover {background-color: rgba(6,184,174,1)}

.social li {
	list-style: none;
	margin-bottom: 15px;
	text-align: center;
}

.social li a {
	font-size: 14pt;
	font-weight: 300;
}

.social li:last-child {margin-bottom: 0;}
.social li .fa {margin-right: 5px;}

/********************************************/
/* form validation */
/********************************************/
.contactFeedback {
	position: absolute;
	top: 67px;
	left: 20px;
	right: 20px;
	font-size: 14pt;
	text-align: center;
	color: rgba(255,255,255, 1);
	background: rgba(25, 196, 186, 0.95);
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(21, 163, 155, 1);
	margin-bottom: 15px;
}

label.error {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	color: rgba(255,255,255, 1);
	background-color: rgba(196, 25, 61, 0.5);
}

.contactForm .field.error,
.contactForm input.error,
.contactForm textarea.error {
	color: rgba(196, 25, 61, 1);
	border-bottom-color: rgba(196, 25, 61, 1);
}

.contactForm .error input:hover,
.contactForm .error textarea:hover,
.contactForm input.error:hover,
.contactForm textarea.error:hover {
	color: rgba(196, 25, 61, 1); 
	border-bottom-color: rgba(196, 25, 61, 1);
}

.contactForm .field.error ::-webkit-input-placeholder,
.contactForm .error::-webkit-input-placeholder {
	color: rgba(196, 25, 61, 1); 
	border-bottom-color: rgba(196, 25, 61, 1);
}

.contactForm .field.error ::-moz-placeholder,
.contactForm .error::-moz-placeholder {
	color: rgba(196, 25, 61, 1);
	border-bottom-color: rgba(196, 25, 61, 1);
}

.contactForm .field.error :-ms-input-placeholder,
.contactForm .error:-ms-input-placeholder {
	color: rgba(196, 25, 61, 1);
	border-bottom-color: rgba(196, 25, 61, 1);
}

/***********************************************************/
/* .mainFooter */
/***********************************************************/
.mainFooter {
	padding: 0 40px;
	margin-bottom: 30px;
}

.mainFooter .thanks {
	margin-bottom: 25px;
	font-size: 14pt;
	text-align: center;
	line-height: 1.2em;
	color: rgba(80, 60, 40, 1);
	font-weight: 300;
}

.mainFooter img {
	display: block;
	width: 40px;
	margin: 0 auto;
}