*.class

# Package Files #
*.jar
*.war
*.ear

cakefile
ignore.txt
.DS_Store

# Sass Cache #
.sass-cache

# Font Awesome ignored #
/www/bower_components/font-awesome/.gitignore
/www/bower_components/font-awesome/.bower.json
/www/bower_components/font-awesome/src/
/www/bower_components/font-awesome/less/
/www/bower_components/font-awesome/scss/
/www/bower_components/font-awesome/_config.yml
/www/bower_components/font-awesome/component.json
/www/bower_components/font-awesome/composer.json
/www/bower_components/font-awesome/CONTRIBUTING.md
/www/bower_components/font-awesome/Gemfile
/www/bower_components/font-awesome/Gemfile.lock
/www/bower_components/font-awesome/README.md
/www/bower_components/font-awesome/package.json

# html5shiv ignored #
/www/bower_components/html5shiv/readme.md

# jquery ignored #
/www/bower_components/jquery/.bower.json
/www/bower_components/jquery/MIT-LICENSE.txt
/www/bower_components/jquery/src/

# jquery-validation #
/www/bower_components/jquery-validation/bower.json
/www/bower_components/jquery-validation/changelog.txt
/www/bower_components/jquery-validation/CONTRIBUTING.md
/www/bower_components/jquery-validation/demo/
/www/bower_components/jquery-validation/lib/
/www/bower_components/jquery-validation/package.json
/www/bower_components/jquery-validation/README.md
/www/bower_components/jquery-validation/test/
/www/bower_components/jquery-validation/todo
/www/bower_components/jquery-validation/test/