/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url(../bower_components/font-awesome/css/font-awesome.min.css);
/* line 20, ../sass/reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 30, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 35, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../sass/reset.scss */
nav ul {
  list-style: none;
}

/* line 43, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 48, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 53, ../sass/reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 62, ../sass/reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, ../sass/reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 76, ../sass/reset.scss */
del {
  text-decoration: line-through;
}

/* line 80, ../sass/reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 91, ../sass/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 100, ../sass/reset.scss */
input, select {
  vertical-align: middle;
}

/*********************************************************************/
/* Clearfix */
/* http://nicolasgallagher.com/micro-clearfix-hack */
/*********************************************************************/
/* For modern browsers */
/* line 110, ../sass/reset.scss */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

/* line 115, ../sass/reset.scss */
.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
/* line 118, ../sass/reset.scss */
.cf {
  zoom: 1;
}

/*********************************************************************/
/* Aerochimps */
/*********************************************************************/
/* line 123, ../sass/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 132, ../sass/reset.scss */
b, strong {
  font-weight: normal;
}

/* line 133, ../sass/reset.scss */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 134, ../sass/reset.scss */
a:hover {
  text-decoration: underline;
}

/* Apply a natural box layout model to all elements */
/* line 137, ../sass/reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Plugins */
/* What we do :) */
/*********************************************************************/
/* structure.css */
/*********************************************************************/
/***********************************************************/
/* Usefull */
/***********************************************************/
/* line 8, ../sass/structure.scss */
.hide {
  display: none !important;
}

/*********************************************************************/
/* colors.css */
/*********************************************************************/
